{
    "assumptions": {
      "setPublicClassFields": true
    },
    "presets": [
        "@babel/preset-react"
    ],
    "env": {
        "es6": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "modules": false,
                        "targets": "defaults and not IE 11",
                    }
                ]
            ],
        },
        "es5": {
            "presets": [
                ["@babel/preset-env", {
                    "targets": "defaults",
                }]
            ],
        },
        "test": {
            "presets": [
                [
                  "@babel/preset-env",
                    {
                        "targets": { "node": "current" },
                    }
                ]
            ]
        }
    }
}
